<link rel="stylesheet" href="/style.css" />
h1{
  font-family: Lobster;
  color:purple;
}

 ul{
  font-family: verdana;
  color:blue;
}

p{
 font-family: verdana;
}

body {
    background-color: #ff6666;
}
